body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: lightblue;
}



.action {
  cursor: pointer;
}

.red{
background-color: #ff0000;
}

.orange{
  background-color: #ff9100;
}

.yellow{
  background-color: #ffff00;
}
.green{
  background-color: #008000;
}

.blue{
  background-color: #0000ff;
}

.purple{
  background-color: #4b0082;
}

.pink{
  background-color: #ff428a;
}