body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: lightblue;
}



.action {
  cursor: pointer;
}

#red{
background-color: red;
}

#orange{
  background-color: rgb(255, 145, 0);
}

#yellow{
  background-color: yellow;
}
#green{
  background-color: green;
}

#blue{
  background-color: blue;
}

#purple{
  background-color: indigo;
}

#pink{
  background-color: rgb(255, 66, 138);
}